
body{ 
    background-color: rgb(21, 137, 21);
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header{
    background-color: #1fb31f;
    color: rgba(255, 255, 255, 0.934);
    text-align: center;
    padding: 30px 20px;
    border-bottom: 3px solid #0a8a3d;
}

header .logo{
    max-width: 100px;
    margin-bottom: 10px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

header h1{
    margin: 0;
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

header p{
    color: #ffffff;
    font-style: italic;
    font-size: 1.1rem;
    margin-top: 5px;
}

main{
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

main section{
    background-color: #0a8a3d;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
    border-left: 5px solid #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

main section img{
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

main section h2{
    color:#ffffff;
    margin-top: 0;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
    
}
main section img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border: 2px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}



#carouselExample{   
    max-width: 62%;
    margin: 0 auto;
}




footer ul{
    list-style-type: none;
    color: #ffffff;
    padding-left: 20px;
}
footer ul li{
    margin-top: 10px;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: #1fb31f;
    color: rgba(255, 255, 255, 0.934);
    font-size: 0.9rem;
    border-top: 3px solid #ffffff;
    margin-top: 50px;
}